__pycache__/
.env
data/blockchain.json
data/slot_machine.json
data/transactions.tsv
data/transactions.log
data/transfers_waiting_approval.json
data/message_mining_registry.json
data/slot_machine_high_scores.json

data/checkpoints/
data/save_data/
guild_ids.txt
*.bak*
*.7z
*.zip
*.tsv
*_downloaded.json
*_production.*
todo.txt
